html, body {
  font-family: Helvetica, Arial, sans-serif;
}

.axis path {
  display: none;
}

.axis line {
  stroke: rgba(0,0,0,0.1);
}

path.country {
  fill: none;
  stroke: rgba(0,0,0,0.3);
}

text.country-label {
  opacity: 1;
}
